*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}
:root{
    --bg-colour: black;
    --second-bg-colour: black;
    --text-colour: rgb(255, 255, 255);
    --main-colour: #65a9f3;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-colour);
    color: var(--text-colour);
}
.header{
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}
.logo{
    font-size: 3rem;
    color: var(--text-colour);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-colour);
}
.navbar a{
    font-size: 1.9rem;
    color: var(--text-colour);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: var(--main-colour);
    border-bottom: 3px solid ;
}
.navbar a:active{
    color: var(--main-colour);
    border-bottom: 3px solid ;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-colour);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-colour);
}
.logo span{
    color: var(--main-colour);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-colour);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-colour),
                0 0 50px var(--main-colour),
                0 0 100px var(--main-colour);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.Social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-colour);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-colour);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.Social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-colour);
    background-color: var(--main-colour);
}   
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-colour);
    box-shadow: 0 0 25px var(--main-colour);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-colour);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a :nth-of-type(2){
    background-color: black;
    color:var(--main-colour);
    border: 2px solid transparent;
    box-shadow: 0 0 25px transparent;
}
.btn-group a :nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-colour);
    background-color: var(--main-colour);
    color: black;   
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Devloper";
    color: var(--main-colour);
    animation: words 20s infinite;
}
.text-animation span::after{
    content:"";
    background-color: var(--bg-colour);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-colour);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-colour);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Frontend Desighner";
    }
    21%,
    40%{
        content: "Web Devloper";
    }
    41%,
    60%{
        content: "Coming Soon";
    }
    61%,
    80%{
        content: "To be Found";
    }
    81%,
    100%{
        content: "To be found";
    }

}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.education{
    padding: 100px 15px;
    background: var(--second-bg-colour);
}
.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-colour);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0 ;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-colour);
    box-shadow: 0 0 25px var(--main-colour),
                0 0 50px var(--main-colour);
    position: absolute;
    left: calc(50% - 8px);            
    border-radius: 50%;   
    top: 10px;         
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--bg-colour);
    border: 3px solid var(--main-colour);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-colour);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px;
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-colour);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-colour);
}